{% load static %}
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
            if (document.scripts[j].src === r) {
                return;
            }
        }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(99994580, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/99994580" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<header>
    <a href="{% url 'main' %}"><img src="{% static 'img/logo.ico' %}" alt="Логотип" class="header__logo"></a>

    <ul class="header__nav-items">
        <a href="{% url 'catalog' %}" class="header__nav-link header__nav-link--all">
            <button class="header__all"><img src="{% static 'img/folder.png' %}" alt="Папка">Все разработки</button>
        </a>
        {# <a href="#" class="header__nav-link header__nav-link--office"><button class="header__office"><img src="{% static 'img/avatar.png' %}" alt="Аватар">Войти в кабинет</button></a>#}
        <a href="{% url 'basket' %}" class="header__nav-link header__nav-link--basket">
            <button class="header__basket">
                <img src="{% static 'img/basket.png' %}" alt="Корзина">0 <span style="color: #FD7E14;">₽</span>
            </button>
        </a>
    </ul>

    <div class="burger__menu">
        <button onclick="burgerMenu()" class="burger-menu__button">
            <img src="{% static 'img/burger.png' %}" alt="Бургер меню">
            <span class="burger-menu__text">Меню</span>
        </button>
        <nav id="burger-menu" class="burger-menu__nav">
            <a href="{% url 'main' %}">Главная страница</a>
            <a href="{% url 'basket' %}">Корзина</a>
            <a href="{% url 'catalog' %}">Разработки</a>
            {# <a href="#">Войти в аккаунт</a>#}
            <a href="{% url 'help' %}">Техническая поддержка</a>
        </nav>
    </div>
</header>